<section class="flex flex-col space-y-4 mt-20">
    <h2 class="font-black text-5xl text-center">Privacy Policy</h2>
    <h3 class="font-black ">1. Data Collection</h3>
    <p>Our speech-to-text service does not collect or store any voice recording, text transcription or related metadata. Each interaction is processed in real time and the data is discarded immediately afterwards.</p>
    <h3 class="font-black ">2. Data Usage</h3>
    <p>Since we do not collect or store data, there is no further use of the data. Our goal is to provide an efficient speech-to-text service without compromising user privacy.</p>
    <h3 class="font-black ">3. Data Sharing</h3>
    <p>We do not share any data with third parties, as we do not collect or store data in the first place.</p>
    <h3 class="font-black ">4. Data storage</h3>
    <p>We do not store any personal data. All interactions are processed in real time and data is discarded immediately afterwards.</p>
    <h3 class="font-black ">5. User Rights</h3>
    <p>Users have the right to know that their privacy is our top priority. We do not collect, store or share any personal data.</p>

</section>