---
import Card from './Card.astro'
import CardText from './CardText.astro'
---
<section class="flex flex-col items-center justify-center h-auto">
    <div class="mx-auto text-wrap space-y-4 text-center">
        <h1 class="font-black text-5xl">Speech to Text</h1>
        <h2 class="font-black text-5xl">Voice Typing & Translation</h2>
        <p class="italic">~From bums to bums~</p>
        <p>Convert your voice to text with the ability to translate it into the language of your choice</p>
    </div>
    <div class="flex space-x-4 mt-20 ">
        <Card/>
        
        
       <CardText/>
       
    </div>
    <label class="mt-4" for="TargetLanguage">Translate to:</label>

    <select id="TargetLanguage" class="py-3 px-4 pe-9 block w-full rounded-lg text-sm focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-slate-900 border-gray-700 text-white focus:ring-gray-600">
        <option selected>Open this select language</option>
        <option value="es">Spanish</option>
        <option value="en" selected="selected">English</option>
        <option value="de">Germany</option>
        <option value="ja">Japanese</option>
    </select>

</section>